@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";

@source "../.flowbite-react/class-list.json";

:root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --main-font-color: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
    padding: 0;
    margin: 0;
    font-family:
            -apple-system,
            BlinkMacSystemFont,
            Segoe UI,
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            Fira Sans,
            Droid Sans,
            Helvetica Neue,
            sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {

    text-decoration: none;
}

header a:hover {
    color: var(--main-font-color);
}

img {
    max-width: 100%;
    display: block;
}


.hover-underline {
    font-size: 1rem;
    color: #ffffff;
    position: relative;
    display: inline-block;
}

.hover-underline::after,
.hover-underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #F105F5, #00FFFF);
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-out;
}

.hover-underline::before {
    top: -5px;
    transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
    transform: scaleX(1);
}
.menu-items-hover {
    text-decoration: none;
    position: relative;
    background: linear-gradient(120deg, #ff00cc 0%, #00FFFF 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.0em;
    background-position: 0 100%;
    transition: background-size 0.25s ease-in;
}
.active-menu-item-hover {
    background-size: 100% 0.1em;
}

.menu-items-hover:hover {
    background-size: 100% 100%;
}
ul {
    list-style: initial;
    margin-left: 2rem;
}
ul.no-bullets {
    list-style: none;
    margin-left: initial;
}
p {
    margin-bottom: 1rem;
}
main.dark\:bg-black,
main .dark\:bg-black{
    background-color: var(--background);
}